body{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
    font-family:  serif;
    font-size: 40px;

    /* background-image: url("q.jpg");
    background-repeat: no-repeat; */
}


